.health_services{
    width: 100%;
    height: 829px;
    position: relative;
    top:65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #FBFEFF 100%, #F2FAFF 100%);
}

.hs_container{
    width: 85%;
    height: 829px;
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    gap: 20px;
    /* background-color: aquamarine; */
}

.hs_first_item{
    width: 513px;
    height: 610px;   
}

.logo_section{

}

.hs_second_item{
    width: 643.25px;
    height: 658.02px;

}