.navbar {
    width: 100%;
    height: 107px;
    position: fixed;
    top: 36px;
    background-color: white;
    z-index: 100;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center; 
}

.navbar_container{
    width: 85%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toggleMenu{
    width: 85%;
    height: 160px;
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 11px;
    border-bottom-left-radius: 11px;
    background: linear-gradient(to bottom, #E8F1FF 100%, #F1FAFF 100%); 
}

.navbar_items{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.navbar_btn_items{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navbar_log_item{ 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    cursor: pointer;
}

.navbar_item_toggle_data{
    /* display: flex;
    flex-direction: column;*/
    /* gap: 35px; */
    /*align-items: center; */
    justify-content: space-between;
}

.navbar_item_data{
    width: 95px;
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    text-align: center;
}

/* Icon Section */

.navbar_item_icon{
    width: 14.99px;
    height: 15px;
    position: absolute;  
    top: 50%;          
    left: 50%;         
    transform: translate(-50%, -50%);
}

.navbar_item_icon_border{
    width: 42px;
    height: 42px;
    border-radius: 74.25px;
    border: 0.75px solid #004990;
    position: relative; 
    cursor: pointer;
}

.navbar_notification_box{
    width: 13.57px;
    height: 13.5px;
    position: absolute;
    top: .75px;
    left: 27.68px;
    border-radius: 6.77px;
    background-color: #004990;
}

.navbar_notification_count{
    color: white;
    width: 5.75px;
    height: 12px;
    position: absolute;
    top:0.75px;
    left: 4.05px;
    font-weight: 400;
    font-size: 9px;
    line-height: 9px;
}



.button_box {
    width: 139px;
    height: 26px;
    border: none;
    border-radius: 24.83px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #004990 0%, #9ab5fa 100%);
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(141, 161, 212, 0.8);
    cursor: pointer;
    outline: none;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center; 
    align-items: center;
}

.button_text{
    width: 133px;
    height: 14px;
    color: white;
    font-weight: 700;
    font-size: 13px;
    line-height: 14px;
    align-items: center;
    text-transform: capitalize; 
}

.menu_icon{
    cursor: pointer;
    color: #004990;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .navbar_item_data {
        display: none;
    }
}
@media (min-width: 1200px) {
    .menu_icon {
        display: none;
    }
    .toggleMenu{
        display: none;
    }
}
@media (max-width: 570px) {
    .appointment_btn {
        display: none;
    }
}