.content_header {
    display: flex;
    gap: 20px;
    text-align: center;
}

.logo_text {
    height: 28px;
    font-weight: var(--font-weight, 600);
    font-size: var(--font-size, 16px);
    line-height: 28px;
    color: var(--color, #1BB4FB);
    /* font-family: var(--font-family, openSans); */
}


/* Content Breaker */

.more_service_box {
    width: 463.19px;
    height: 40px;
    border-radius: 99px;
    border: 1px solid #D8DDE1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.more_service_box p {
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    color: #788094;
    flex-shrink: 1;
}

.more_service_box span {
    font-weight: 600;
    font-size: 12px;
    line-height: 11.2px;
    color: #004990;
    flex-shrink: 1;
}

.more_service_box span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.service_horizontal_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_line {
    width: 50%;
    border-top: 1px solid #D8DDE1;
}