.doctor_section{
    width: 100%;
    height: 1037px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.doctor_container{
    width: 85%;
    height: 912.29px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .content{
    width: 605px;
    /* height: 133.91px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h3{
    font-weight: 600;
    font-size: 36.44px;
    text-align: center;
    text-transform: capitalize;
}

.content p {
    /* height: 72px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #a6a7ac;
}

.doctor_details_container{
    height: 569.97px;
    width: 569.97px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.doctor_details_box{
    width: 350.15px;
    height: 495.97px;
    border: .97px solid #F5F5F5;
    padding:15px;
    border-radius: 9.73px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}
.doctor_img_box{
    width: 311.25px;
    height: 359.88px;
    border-radius: 9.73px;
    background-color: #F7F9FE;
}

.specialist_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.specialist{
    font-weight: 600;
    font-size: 13.62px;
    /* line-height: 18.54px; */
    background-color: #F7F9FE ;
    color: #555657;
}

.rating{
    font-weight: 600;
    font-size: 13.62px;
    /* line-height: 18.54px; */
    color: #9fa9b4;
}
.rating span:last-child{
    font-weight: 400;
}

.patient{
    font-weight: 600;
    font-size: 15.55px;
    color:#1D2B4F;
}
.hospital{
    font-weight: 400;
    font-size: 11.87px;
    color:#636E88;
}

.doctor_second_container{
    width: 100%;
    gap: 20px;
}



/*  */

.more_service_box {
    width: 763.19px;
    height: 40px;
    border-radius: 99px;
    border: 1px solid #D8DDE1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.more_service_box p {
    font-weight: 600;
    font-size: 12px;
    line-height: 28px;
    color: #788094;
    flex-shrink: 1;
}

.more_service_box span {
    font-weight: 600;
    font-size: 12px;
    line-height: 11.2px;
    color: #004990;
    flex-shrink: 1;
}

.more_service_box span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.service_horizontal_line {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr_line {
    width: 50%;
    border-top: 1px solid #D8DDE1;
}