/* Icon Design */

.icon_box_first_half, .icon_box_second_half{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.icon_box_bottom_right{
    width: var(--width);
    height: var(--height);
    background-color: #75D4FF;
    border-bottom-right-radius: 100%;
    position: relative;
    right: var(--right);
}

.icon_box_bottom_left{
    width: var(--width);
    height: var(--height);
    background-color: #2CBEFF;
    border-bottom-left-radius: 100%;
    position: relative;
    right: var(--right);
}

.icon_box_top_left{
    width: var(--width);
    height: var(--height);
    background-color: #00A4F4;
    border-top-left-radius: 100%;
    position: relative;
    top: var(--top)
}

.icon_box_top_right{
    width: var(--width);
    height: var(--height);
    background-color: #004990;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
    bottom: var(--bottom);
    left: var(--left);
}

/* Icon Name Health */

.icon_name{
    width: 104.46px;
    height: 34px;
    color:#004990 ;
    font-weight: 800;
    font-size: 26.83px;
    line-height: 33.81px;
}